.giftset {
	position: relative;
	background-color: var(--light-gray);
	overflow: hidden;
}

.giftset::after {
	display: block;
	content: "";
	background-color: var(--light-gray-2);
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 90vw;
	left: 70%;
	top: 0;
	bottom: 0;
}

.giftset__container {
	padding: 80px 0 120px;
}

.giftset__inner {
	margin: 65px auto 0;
}

.giftset__tabs-content {
	position: absolute;
	width: 75%;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: var(--white);
	z-index: 5;
	box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
	
	padding: 60px 60px 60px 300px;
	height: auto;
}

.giftset__tabs-content h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	/* or 117% */
	color: var(--dark-gray-2);
	margin: 20px 0;
}

.giftset__tabs-content p {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: var(--dark-gray)
}


.giftset__cost {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* or 120% */
	color: var(--accent);
}

.giftset__features {
	display: flex;
	justify-content: space-between;
}

.giftset__feature {
	display: flex;
	align-items: center;
}

.giftset__tabs-inner img {
	position: relative;
	z-index: 10;
}

.giftset__feature p {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}

.giftset__features-text {
	margin-left: 20px;
}

.giftset__buttons {
	display: flex;
	margin-top: 30px;
}

.giftset__buttons button {
	cursor: pointer;
	outline: none;
	transition: .15s;
}

.giftset__buy {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: var(--light-gray-2);
	background: var(--accent);
	border: none;
	border-radius: 19px;
	padding: 10px 30px;
}

.giftset__buy:hover {
	transform: scale(1.05);
}

.giftset__more {
	font-size: 16px;
	line-height: 22px;
	color: var(--primary);
	background: none;
	border: none;
	margin-left: 100px;
}

.giftset__more:hover {
	transform: scale(1.05);
}